EXPO_PUBLIC_API_URL=http://192.168.1.11:3000
EXPO_PUBLIC_CLOUDINARY_CLOUD_NAME=work_pulses_unsigned
EXPO_PUBLIC_CLOUDINARY_UPLOAD_PRESET=work_pulses_unsigned
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=your_google_oauth_client_id
